@model IEnumerable<IznajmljivanjeSmestaja.Models.AspNetUsers>
@using Microsoft.Extensions.Localization
@using System.Text.Json;
@using System.Text.Json.Serialization
@inject IStringLocalizer<Resource> localizer
@{
    ViewData["Title"] = "GetAllUsers";
   

}

<h1>@localizer["GetAllUsers"]</h1>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="//code.angularjs.org/1.8.0/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">

    
        <table class="table" style="width:600px">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in records">
            <td> {{x.Id}}</td>
            <td> {{x.UserName}}</td>
            <td> {{x.Email}}</td>
            <td> {{x.PhoneNumber}}</td>

        </tr>
            </tbody>
        </table>

     

    

    <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function ($scope) {
            $scope.records = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model));
        });
    </script>
</body>
</html>


