@model IEnumerable<IznajmljivanjeSmestaja.Models.Accomodation>
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> localizer
@{
    ViewData["Title"] = "ViewAllAccomodation";
}

<h1>@localizer["smestaj"]</h1>

<p>
    <a asp-action="AddAccomodation">@localizer["dodajSmestaj"]</a>
</p>
<div class="navbar-brand">
    <span class="input-group-btn">
        <input type="text" name="" ng-model="search_query" class="form-control" placeholder="@localizer["pretrazi"]">
    </span>
</div>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="//code.angularjs.org/1.8.0/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">


    <table class="table" style="width:600px">
        <thead>
            <tr>
                <th>ID</th>
                <th>Rooms</th>
                <th>Guests</th>
                <th>Title</th>
                <th>Address</th>
                <th>Description</th>
                <th>Amenities</th>
                <th>Directions</th>
                <th>Checkin</th>
                <th>Checkout</th>
                <th>IdUser</th>
                <th>CoverPhotoUrl</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in records|filter:search_query">
                <td> {{x.Id}}</td>
                <td> {{x.Rooms}}</td>
                <td> {{x.Guests}}</td>
                <td> {{x.Title}}</td>
                <td>{{x.Address}}</td>
                <td> {{x.Description}}</td>
                <td> {{x.Amenities}}</td>
                <td> {{x.Directions}}</td>
                <td> {{x.Checkin}}</td>
                <td> {{x.Checkout}}</td>
                <td> {{x.IdUser}}</td>
                <td>   <img src="../{{x.CoverPhotoUrl}}" width="289" height="194" alt="{{x.CoverPhotoUrl}}" /></td>

                <td>
                    <a href="/Admin/Edit/{{x.Id}}">Edit</a>
                    <a href="/Admin/Details/{{x.Id}}">Details</a>
                    <a href="/Admin/Delete/{{x.Id}}">Delete</a>
                </td>


            </tr>
        </tbody>
    </table>





    <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function ($scope) {
            $scope.records = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model));
        });
    </script>
    </body>

   